@use "./parts/underline" as ul;
@use "./parts/responsive" as rp;

html {
    font-family: 'Roboto Slab', serif;
    overflow-x: hidden;
    background-color: azure;
}

#back {
    position: fixed;
    left: 0%;
    top: 0%;
}

article {
    & h1 {
        text-align: center;
        padding-bottom: 3%;
        margin-top: 35%;
        color: orange;

        @include rp.mq(lg){
            font-size: 1.5em;
        }
        @include rp.mq(xl){
            font-size: 2em;
        }
    }
}

.btn {
    border: none;
    outline: none;
    background: transparent;
}


header {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    & #body {
        display: flex;
        width: 100vw;
        flex-direction: column;
        justify-content: flex-end;
        height: 50vh;

        & #container{
            & #pgname {
                text-align: center;
                font-family: 'Russo One', sans-serif;
                color: orange;

                @include rp.mq(sm){
                    font-size: 7.5em;
                }
                @include rp.mq(md){
                    font-size: 10em;
                }
                @include rp.mq(lg){
                    font-size: 13em;
                }
                @include rp.mq(xl){
                    font-size: 15em;
                }

            }
            & #mv {
                display: flex;
                justify-content: center;

                @include ul.ul;
                @include rp.mq(lg){
                    font-size: 1.5em;
                }
                @include rp.mq(xl){
                    font-size: 2em;
                }

                & .btn {
                    border: none;
                    outline: none;
                    background: transparent;
                }
            }
        }
    }

    & #foot {
        height: 50vh;
        width: 80vw;
        display: flex;
        justify-content: end;
        align-items: flex-end;

        @include rp.mq(lg){
            font-size: 1.5em;
        }
        @include rp.mq(xl){
            font-size: 2em;
        }

        & .link {
            display: flex;
            padding: 10px;

            & .icon-github:before {
                content: "\eab0";
                color: black;
                @include ul.ul;
            }

            & .icon-twitter:before {
                content: "\ea96";
                color: #00acee;
                @include ul.ul;
            }

            & .icon-zenn:before {
                content: "\e900";
                color: lightblue;
                @include ul.ul;
            }
        }
    }
}

#works {
    & #dotnav {
        & a {
            border-color: orange;
        }
    }

    .slidenav {
        color: orange;
    }
}

#profile {
    width: 100vw;
    
    .wrapper {
        display: flex;
        justify-content: space-around;
        margin: 5px 0px;
        padding: 5px;

        letter-spacing: 1px;

        @include rp.mq(sm){
            font-size: 0.5em;
            flex-direction: column;
        }
        @include rp.mq(md){
            font-size: 0.8em;
        }
        @include rp.mq(lg){
            font-size: 1em;
        }
        @include rp.mq(xl){
            font-size: 1em;
        }

        .icon {
            margin: 10px 0;
            font-size: 5em;
        }
        .icon-book:before {
            content: "\e91f";
            color: blue;
        }
        & .icon-info:before {
            content: "\ea0c";
        }
        .icon-newspaper:before {
            content: "\e904";
        }
        .icon-headphones:before {
            content: "\e910";
        }

        & .info {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 20vw;
            margin: 0 auto;
            @include rp.mq(sm){
                flex-direction: row;
                width: 100%;
                margin: 3% 0;
            }

            & h2 {
                text-decoration: underline;
            }

            & .para {
                margin: 0 1%;
                text-align: center;
            }

            & .subhead {
                margin: 0 2%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }
        }
    }
}

#contact {
    margin-bottom: 35%;
    text-align: center;

    & .icon-mail4:before {
        content: "\ea86";
    }
}

footer {
    text-align: center;
}